<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.user_id %></td>
        <td><%= task.details %></td>
        <td><%= link_to 'Show', user_task_path(current_user, task) %></td>
        <td><%= link_to 'Edit', edit_user_task_path(current_user, task) %></td>
        <td><%= link_to 'Destroy', user_task_path(current_user, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_user_task_path(current_user) %>
