<%= form_for [@user, @task] do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'What have you done that would make us proud?' %><br>
    <%= f.text_area :details, rows: 2, cols: 60 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
