<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<p>
  <strong>Details:</strong>
  <%= @task.details %>
</p>

<%= link_to 'Edit', edit_user_task_path(current_user, @task) %> |
<%= link_to 'Back', user_tasks_path(current_user) %>
