<% if user_signed_in? %>
  <li class="<%= 'active' if params[:controller] == 'workouts' %>">
    <%= link_to "home", tasks_path %>
  </li>
  <li class="<%= 'active' if params[:controller] == 'workouts' %>">
    <%= link_to "my tasks", user_tasks_path(current_user) %>
  </li>
</li>
  <li class="<%= 'active' unless params[:controller].match(/devise/).nil? %>">
    <%= link_to "Logout", destroy_user_session_path, :method =>'delete' %>
  </li>
<% else %>
  <li class="<%= 'active' unless params[:controller].match(/devise/).nil? %>">
    <%= link_to "Login", user_session_path %>
  </li>
<% end %>
